POSTGRES_URL=postgresql://postgres:password@localhost:5432/postgres
FORMCARRY_URL=https://formcarry.com/s/some-uuid
GUMROAD_ACCESS_TOKEN=some-token
YOUTUBE_API_KEY=some-key
GITHUB_TOKEN=some-token
UNSPLASH_ACCESS_KEY=your-unsplash-access-key
OPENAI_API_KEY=your-openai-api-key
OPENAI_ASSISTANT_ID=your-openai-assistant-id
