/* Syntax Highlighting Theme */
@import "../../public/prism/one-dark.css";

/* Syntax Highlighting */
pre[class*="language-"] {
  @apply bg-tertiary text-primary dark:bg-contrast rounded-md text-[13px] text-xs;
}

.code-highlight {
  float: left;
  min-width: 100%;
}

.code-line {
  display: block;
  padding: 0 16px;
  margin: 0 -16px;
  border-left: 4px solid transparent;
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2);
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2);
}

.highlight-line {
  margin: 0 -24px;
  padding-left: 26px;
  background-color: var(--blue-a3);
  border-left: 2px solid var(--blue-10);
}

.line-number::before {
  @apply hidden md:inline-block;
  width: 1rem;
  text-align: right;
  margin: 0 24px 0 -8px;
  color: var(--gray-8);
  content: attr(line);
}
